$clrBlack: #333333;
$clrTextInactive: #666666;
$clrBg: #FCFCF8;
$clrLightGrey: #C4C4C4;
$clrUltraLightGrey: #E7F3FF;
$clrExtraLightGrey: #DEDEDE;
$clrButton: linear-gradient(97.18deg, #FFA776 -25.77%, #FBF339 104.42%), #29EDB2;
$clrButtonHover: linear-gradient(97.18deg, #FCEC3F -25.77%, #FBF339 104.42%), #29EDB2;
$clrButtonPressed: linear-gradient(97.18deg, #FFA776 -25.77%, #FB9639 104.42%), #29EDB2;
$clrLinkBorder: rgba(255, 255, 255, 1);
$clrPagination:  #2C689B;
$clrCardBg: #FBFCFA;
$clrWhite: #fff;
$clrGreen: #318516;
$crlGrey: #B3B6BE;
$transition: all .25s ease;

$shadowCard: 0 5px 20px rgba(47,61,2,.1);
$shadowCardHover: 0 10px 30px rgba(47,61,2,.15);





// мои цвета
$header_bg: #EAF6FF;
$header_text: #06112E;
$header_text_hover: #D2390A;
$header_text_active: #C21302;
$text_black: #06112E;
$text_blue: #5FBCFF;
$text_white: #FFFFFF;

$btn_tupe_text: #06112E;
$btn_tupe_text_dashed: rgba(6, 17, 46, 0.3);
$btn_tupe_text_hover: #D2390A;
$btn_tupe_text_hover_dashed: rgba(210, 57, 10, 0.6);
$btn_tupe_text_active: #C21302;
$btn_tupe_text_active_dashed: rgba(194, 19, 2, 0.6);


$color_btn_font: #ffffff;
$white_btn_font: #06112E;

$aktive_link_text: #FF685F;
$color_burger_menu:#3CA1EA;

$select_city_text: #333333;
$select_city_bg: #ffffff;
$close_select_city_text: #FF685F;
$close_select_city_hover: #D2390A;
$close_select_city_active: #C21302;
$select_city_input_border: #888E9D;
$select_city_input_borde_focus: #FC9E6A;

$bg_popup: rgba(0, 0, 0, 0.3);
$color_error: #F5271A;

$footer_text: #888E9D;
