<div class="breadcrumbs_listing">
            <ul class="breadcrumb_ul">
            	{% for link,name in seo.breadcrumbs %}
                <li><a href="{{link}}">{{name}}</a></li>
                {% endfor %}
            </ul>
        </div>