<div class="form_wrapper">

	<div class="form_close" data-close-popup>
	</div>

	<div class="form_main">		

		<div class="form_title">

			<p class="form_title_main">Трудности <br class="mobile_only"/> с выбором зала?</p>
			<p class="form_title_text">Наши менеджеры <span class="form_title_desc">бесплатно</span> подберут оптимальный вариант. Заполните форму, и мы свяжемся с вами.</p>

		</div>

		<!-- <div class="form_title">
			<p class="form_title_main">Трудности с выбором зала?</p>
		</div> -->

		<form class="form_block" action="/ajax/form/" data-type={% if type != 'item' %}"main"{% else %}"item"{% endif %}>

			<div class="form_inputs">

				<div class="input_wrapper _big">

					<div class="input_label">Как вас зовут?</div>
					<input type="text" name="name" data-required/>

				</div>

				<div class="input_wrapper ">

					<div class="input_label">Номер телефона</div>
					<input type="text" name="phone" data-required data-dynamic-placeholder/>

				</div>

				<div class="input_wrapper">
				
					<div class="input_label">Электронная почта <span class="not-necessery_mobile"> (необязательно)</span></div>
					<input type="email" name="count" />
					<p class="not_necessary">необязательно</p>

				</div>

				<div class="input_wrapper _small" data-calendar-input-wrapper>

					<div class="input_label">Желаемая дата <span class="not-necessery_mobile"> (необязательно)</span></div>
					<input type="text" name="date" class="addCalendar" autocomplete="off" />
					<input type="text" name="date_hidden" class="hidden_input _active" autocomplete="off" data-form-hidden-input />

					<div class="calendar_wrapper">
						<div class="open_calendar_button"></div>
						<div class="calendar_container _hide">
							<div class="calendar"></div>
						</div>
					</div>

					<p class="not_necessary">необязательно</p>

				</div>

			</div>

			<div class="comments_textarea">

				<div class="input_label">Комментарий</div>
				<textarea name="coment_text" class="comment_form"></textarea>

			</div>

			<div class="form_submit">

				<input type="submit" class="_button" value="Отправить"/>

				<div class="form_policy checkbox_item _active" data-form-privacy>

					<input type="checkbox" name="policy" class="personalData" checked="">
					<p class="checkbox_pseudo">Я согласен с <span> <a class="_link" href="/privacy/" target="_blank"> политикой обработки персональных данных</a></span></p>

				</div>

			</div>

			<input type="hidden" name="_csrf" value="{{Declension.csrfToken()}}" />

		</form>

	</div>

	<div class="form_success" data-success>

		<div class="form_success_title">

			<p class="form_success_title_main">Заявка отправлена</p>

		</div>

		<div class="form_success_text">

			<p class="form_success_text_main"><span data-success-name></span>, спасибо за проявленный интерес. Наши менеджеры свяжутся с вами в течение дня.</p>

		</div>

		<div class="form_success_close _link" data-success-close>Заполнить еще раз</div>

	</div>

</div>