<div data-page-type="error">

	<div class="content_block">
		<div>
			<h1>Страница<br class="forMobile"> не найдена</h1>
	        <p>Запрашиваемая страница<br class="forMobile"> не существует.<br class="forPad"> Попробуйте начать с <a href="/">главной страницы</a> или одного <br class="forMobile">из разделов</p>
	    </div>

	</div>
		<div class="all_blocks">
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo.svg">
				<img src="/images/404error/error_card_photo_mobile.svg" class="forMobile">

				<p>Банкетный зал</p>
				</a> 
				<p class="forMobileP">Банкетный зал</p>
			</div>
			<div class="block">
				<a href="#"> 
				<img src="/images/404error/error_card_photo1.svg">
				<img src="/images/404error/error_card_photo_mobile1.svg" class="forMobile">

				<p>Конференц-зал</p>
				</a>
				<p class="forMobileP">Конференц-зал</p>
			</div>
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo2.svg">
				<img src="/images/404error/error_card_photo_mobile2.svg" class="forMobile">

				<p>Концертный зал</p>
				</a>
				<p class="forMobileP">Концертный зал</p>
			</div>
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo3.svg">
				<img src="/images/404error/error_card_photo_mobile3.svg" class="forMobile">

				<p>Танцевальный зал</p>
				</a>
				<p class="forMobileP">Танцевальный зал</p>
			</div>
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo4.svg">
				<img src="/images/404error/error_card_photo_mobile4.svg" class="forMobile">

				<p>Для Дня Рождения</p>
				</a>
				<p class="forMobileP">Для Дня Рождения</p>
			</div>
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo5.svg">
				<img src="/images/404error/error_card_photo_mobile5.svg" class="forMobile">

				<p>Для вечеринки</p>
				</a>
				<p class="forMobileP">Для вечеринки</p>
			</div>
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo6.svg">
				<img src="/images/404error/error_card_photo_mobile6.svg" class="forMobile">

				<p>На свадьбу</p>
				</a>
				<p class="forMobileP">На свадьбу</p>
			</div>
			<div class="block">
				<a href="#">
				<img src="/images/404error/error_card_photo7.svg">
				<img src="/images/404error/error_card_photo_mobile7.svg" class="forMobile">

				<p>На крыше</p>
				</a>
				<p class="forMobileP">На крыше</p>
			</div>
		</div>
</div>