<div class="filter" data-filter-wrapper>
	<div class="filter_wrapper">
		{% for label,filter_item in filters %}
				{{ this.render('filter_select.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
		{% endfor %}
		<div class="filter_submit">
		    <div class="filter_submit_button _button" data-filter-button>Применить</div>
		    <div class="clean_filter" data-clean >Сбросить</div>
		</div>

		<div class="form_close" data-filter-close></div>

	</div>
</div>

<script type="text/javascript">
</script>
<div class="filter_mobile" data-filter-wrapper>
	<div class="filter_wrapper_mobile">
		<h3>Фильтр мероприятий</h3>
		{% for label,filter_item in filters %}
			<div class="label_check" id="ch_la">			
				{{ this.render('filter_checkbox.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			</div>
		{% endfor %}

		<div class="filter_submit">
		    <div class="filter_submit_button _button" data-filter-button>Показать {{count}}</div>
		    <div class="clean_filter" data-clean ><span>Сбросить фильтр</span></div>
		</div>

		<div class="form_close" data-filter-close></div>

	</div>
</div>
