/*Стили для формы обратного звонка-начало*/
.callback{
    position: fixed;
    right: 0;
    top: calc(25%);
    background: #E7F3FF;
    border-radius: 4px 0px 0px 4px;
    z-index: 1;

    @include for-pad{
        display: none;
    }
    
    @include for-mobile{
        display: none;
    }

    .form_wrapper{
        background: none;
        width: 100%;
        padding: 0;
    }

    h1{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #141417;
            margin: auto;

            @include for-pad{
            font-size: 12px;
            line-height: 20px;
            }
        }
    p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #141417;
            margin: auto;

            @include for-pad{
            font-size: 12px;
            line-height: 18px;
            }
        }

    ._button{
            width: 140px;
            height: 40px;
            margin: auto;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #141417;
            padding: 9px 16px 11px 18px;

            &:hover{
                background: linear-gradient(97.18deg, #FCEC3F -25.77%, #FBF339 104.42%), #29EDB2;
            }

            @include for-pad{
            font-size: 12px;
            line-height: 20px;
            height: 32px;
            padding: 9px 22px 11px 22px;
            }
        }

    .arrow_open{
        width: 20px;
        height: 20px;
        background-image: url(/images/callback_arrow_left.svg);
        position: absolute;
        top: calc(60% - 12px);
        right: 95%;

        &._right{
            background-image: url(/images/callback_arrow_right.svg);
            top: calc(50.5% - 12px);
            right: 97%;

        }
    }

    ._first_form{
        display: flex;
        flex-flow:column;
        width: 240px;
        height: 215px;
        padding: 24px 23px 24px 27px;
        filter: drop-shadow(0px 5px 20px rgba(15, 4, 61, 0.1));

        @include for-pad{
            width: 164px;
            height: 146px;
            padding: 12px 10px 12px 10px;
        }
        
        h1{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        p{
            margin-top: 0;
            margin-bottom: 8px;
        }

        &._item{
            width: 240px;
            height: 146px;
            right: 30px;
            padding: 16px 24px 24px 21px;

            @include for-pad{
                display: none;
            }
            @include for-mobile{
                display: none;
            }

            p{
                margin-bottom: 7px;
            }
            .object_book_hidden{
                margin-bottom: 9px;
            }

            ._button{
                padding: 7px 0 10px 21px;   
            }
            .object_book_phone{
                margin-bottom: 6px;
            }
            .arrow_open{
                top: calc(79.5% - 12px);

            }


        }

        .object_fake_phone{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #141417;
        }
        .object_book_hidden_button{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #4471E6;
            border-bottom: 1px dashed #4471E6;
            width: 61%;
            margin: auto;
            cursor: pointer;

            &._callback{
                margin-left: calc(50% - 58px);
            }
        }

        .phone_number{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #141417;
            margin-right: 5px;
            margin-top: 0px;
            margin-bottom: 14px;

            @include for-pad{
                display: none;
            }
        }

        


    }


    ._second_form{
        display: none;
        flex-flow: column;
        width:288px;
        height:357px;
        padding:24px;
        filter: drop-shadow(0px 5px 20px rgba(15, 4, 61, 0.1));

        @include for-pad{
            padding: 12px;
            width: 257px;
            height: 282px;
        }


        p{
            margin-bottom: 7px;

            @include for-pad{
                margin-bottom: 5px;
            }
        }
        h1{
            margin-bottom: 0px;
            margin-top: 0px;
        }

        form{

            .form_inputs{

            .input_label{
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #2C3044;
                margin-bottom: 2px;

                @include for-pad{
                font-size: 12px;
                line-height: 20px;
                }
                            }

            input{
                background: #FFFFFF;
                border: 1px solid #DADEE1;
                box-sizing: border-box;
                box-shadow: inset 0px 2px 2px rgba(118, 125, 134, 0.1);
                border-radius: 4px;
                width: 240px;
                height: 43px;
                margin-bottom: 11px;
                padding-left: 8px;

                @include for-pad{
                    width: 229px;
                    height: 32px;
                    margin-bottom: 8px;
                    }                
                }
                [name="phone"]{
                    margin-bottom: 17px;
                }
                }

            ._button{
            padding: 9px 0 11px 34px;
            margin-bottom: 8px;
            }

            .checkbox_pseudo{
                display: inline;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: #2C3044;

                &::before{
                    top: 0px;
                }

                &::after{
                    content: "";
                    background-image: url(/images/checked_callback.svg);
                    top: 4px;
                }

                ._link{
                    color:#1267f1;
                    border-bottom: 1px solid #1267f1;

                    &:hover{
            color: #0D91F0;
            border-bottom: 1px solid #0D91F0;
                    }
                    &:visited{
                        color: #6E69A7;
                        border-bottom: 1px solid #6E69A7;
                    }
                }

                span{
                    margin-left: 0px;
                }
            }

            }

    }

    ._third_form{
        width:288px;
        height:169px;
        padding: 24px;
        display: none;
        filter: drop-shadow(0px 5px 20px rgba(15, 4, 61, 0.1));

        @include for-pad{
            width: 257px;
            height: 129px;
            padding: 12px;
        }

        &._active{
        	display: flex;
        }

        p{
            margin-bottom: 16px;

            @include for-pad{
                margin-bottom: 8px;
            }
        }

        ._link{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #4471E6;
        cursor: pointer;
        border-bottom: 1px solid #4471E6;
        width: 62%;

        &:hover{
            color: #0D91F0;
            border-bottom: 1px solid #0D91F0;
        }
        &:visited{
            color: #6E69A7;
            border-bottom: 1px solid #6E69A7;
        }

        @include for-pad{
        font-size: 12px;
        line-height: 20px;
        }
        }

        .reload_callback{
                display: flex;
                margin: auto;
                width: 70%;
                position: absolute;
                left: calc(25%);

            .call_reload_img{
                margin-right: 7px;
                cursor: pointer;
            }
        }
    }
}
/*Стили для формы обратного звонка-конец*/