$width: 15.625em;
$radius: $width * .016891;
$transition: .3s;
$font-size: $width * .056;
$lightblue: lightblue;

/*
  All a user has to do to change the calendar size is
  change the font-size on the container and everything
  magically resizes accordingly. Relative units ftw!
*/
.qs-datepicker-container {
  font-size: 1rem;
  font-family: sans-serif;
  color: black;
  position: absolute;
  width: 373px;
  height: 350px;
  display: flex;
  flex-direction: column;
  z-index: 9001;
  user-select: none;
  // overflow: hidden;
  box-shadow: 0 ($width * .08) ($width * .08) ($width * -.06) rgba(0,0,0,.3);
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 11px;

  @include for-mobile{
    margin-left: 12px;
    width: 280px;
  }

  &::before{
    content: url("/images/Polygon_calendar.svg");
    width: 24px;
    height: 16px;
    position: absolute;
    top: -14px;
    right: 32px;

  }

  * {
    box-sizing: border-box;
  }
}

.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qs-hidden {
  display: none;
}

.qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.75);
  color: white;
  width: 100%;
  height: 100%;
  padding: .5em;
  z-index: 1;
  opacity: 1;
  transition: opacity $transition;
  display: flex;
  flex-direction: column;

  &.qs-hidden {
    opacity: 0;
    z-index: -1;
  }

  .qs-overlay-year { // Overlay year input element.
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    font-size: $font-size;
    padding: .25em 0;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;

    // https://goo.gl/oUuGkG
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .qs-close {
    padding: .5em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  .qs-submit {
    border: 1px solid white;
    border-radius: $radius;
    padding: .5em;
    margin: 0 auto auto;
    cursor: pointer;
    background: rgba(128,128,128,.4);

    &.qs-disabled {
      color: gray;
      border-color: gray;
      cursor: not-allowed;
    }
  }

  .qs-overlay-month-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .qs-overlay-month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    cursor: pointer;
    opacity: .5;
    transition: opacity $transition / 2;

    &.active, &:hover {
      opacity: 1;
    }
  }
}

.qs-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  background: #ffffff;
  filter: blur(0px);
  transition: filter $transition;
  border-radius: 5px;

  &.qs-blur {
    filter: blur(5px);
  }
}

.qs-arrow {
  height: $width / 10;
  width: $width / 10;
  position: absolute;
  cursor: pointer;
  border-radius: $radius;
  transition: background .15s;
  right: 31px;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
  background: url('/images/Arrow_calendar_right.svg') no-repeat 60% center / 40%;
  transition: $transition;
  background-size: 20px 14px;

  &.qs-left{
    right: 61px;
    transform: rotate(180deg);
  }


  &:hover {
    &.qs-left{
      background: url('/images/Arrow_calendar_right_hover.svg') no-repeat center center / 40%,;
      transition: $transition;
      -ms-transform: rotate(180deg); /* Для IE */
      -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
      -o-transform: rotate(180deg); /* Для Opera */
      transform: rotate(180deg);
      width: 20px;
      height: 14px;
      background-size: 20px 14px;
    }

    &.qs-right{
      background: url('/images/Arrow_calendar_right_hover.svg') no-repeat 60% center / 40%,;
      transition: $transition;
      width: 20px;
      height: 14px;
      background-size: 20px 14px;
    }

    background: rgba(0,0,0,.1);
  }

  &:after {
    // content: '';
    // border: ($width / 40) solid transparent;
    // position: absolute;
    // top: 50%;
    // transition: border .2s;
  }

  &.qs-left:after {
    border-right-color: gray;
    right: 50%;
    transform: translate(25%, -50%);
  }

  &.qs-right:after {
    border-left-color: gray;
    left: 50%;
    transform: translate(-25%, -50%);
  }
}

.qs-month-year {
  font-weight: bold;
  transition: border .2s;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  display: flex;
  margin-top: 21px;
  margin-left: 30px;
  margin-bottom: 19px;

  &:hover {
    border-bottom: 1px solid gray;
  }

  &:focus,
  &:active:focus {
    outline: none;
  }
}

.qs-month {
  padding-right: .5ex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #2C3044;
}

.qs-year {
  padding-left: .5ex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #2C3044;
}

.qs-squares {
  display: flex;
  flex-wrap: wrap;
  padding: $width * .02;
  filter: blur(0px);
  transition: filter $transition;
  padding-left: 14px;

  &.qs-blur {
    filter: blur(5px);
  }
}

.qs-square {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background .1s;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 7px;

  // Overriden for date-range dates below.
  border-radius: 50%;

  @include for-mobile{
    width: 19px;
  }

  &:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active) {
    &:hover {
      background: #95B3CD;
    }
  }
  &.qs-num{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2C3044;

    @include for-mobile{
      font-size: 10px;
    }
  }
}

// Today's date
.qs-current {
  font-weight: bold;
  text-decoration: underline;
}

/*
  3 possibilities:
    1. Single, active date.
    2. Daterange start selection.
    3. Daterange end selection.
*/
.qs-active,
.qs-range-start,
.qs-range-end {
  background: #2C689B
}

// Daterange start selection.
.qs-range-start {

  &:not(.qs-range-6) {
    border-radius: 50%;
    position: relative;
  }
  &::after{
    content: url("/images/period_bg.png");
    position: absolute;
    z-index: -1;
    right: -9px;
    top: 0px;
  }
}

// Daterange middle selections.
.qs-range-middle {
  background: #E7F3FF;
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
  padding-right: 25px;

  &:not(.qs-range-0):not(.qs-range-6) {
    border-radius: 0;
  }

  &.qs-range-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.qs-range-6 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Daterange end selection.
.qs-range-end {
  &:not(.qs-range-0) {
    border-radius: 50%;
    position: relative;
  }
  &::after{
    content: url("/images/period_bg.png");
    position: absolute;
    z-index: -1;
    left: -9px;
    top: 0px;
  }
}

.qs-disabled,
.qs-outside-current-month {
  opacity: .2;
}

.qs-disabled {
  cursor: not-allowed;
}

.qs-empty {
  cursor: default;
}

.qs-day {
  cursor: default;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #797C88;
  height: 2px;
  margin-bottom: 21px;
  margin-right: 8px;

  @include for-mobile{
    font-size: 8px;
  }
}

.qs-event {
  position: relative;
  color: #1DAD67 !important;
  border: 1px solid #1DAD67;
  box-sizing: border-box;
  border-radius: 50%;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: $width * .03;
  //   height: $width * .03;
  //   border-radius: 50%;
  //   background: #07f;
  //   bottom: 0;
  //   right: 0;
  // }
}
