.filter{
    margin-top: 40px;

    @include for-mobile{
        margin-top: 25px;
    }

    @include for-mobile{
        &._active{
            display: flex;
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            margin: 0px;
            justify-content: center;
            align-items: center;
            background-color: #33333333;
            display: none;

            .filter_wrapper{
                display: flex;
                width: 100%;
                position: relative;
                padding: 25px 17px;

                .form_close{
                    display: block;
                }
            }

            .filter_mobile_button{
                display: none;
            }
        }
    }

    .filter_wrapper{
        display: flex;
        padding: 32px 15px 35px 14px;
        background: radial-gradient(110.28% 287.99% at -3.85% 0%, #3D9CC5 0%, #192A68 100%), linear-gradient(101.68deg, #FF372F -6.81%, #883186 101.8%), #29EDB2;
		// opacity: 0.9;
		border-radius: 8px;
        align-items: center;
        box-shadow: $shadowCard;
        width: 100%;
        height: 78px;

        @include for-mobile{
            display: none;
        }

        @include for-notdesc{
            flex-wrap: nowrap;
        }

        @include for-pad{
            padding: 14px 13px 13px 16px;
            flex-wrap: wrap;
            height: auto;

            &>div:nth-child(-n+3){
                margin-bottom: 15px;
            }

            &>div:nth-child(3n){
                margin-right: 0px;
            }
        }

        @include for-mobile{
            padding: 0px 17px 25px;
            
        }
    }

    .filter_label{
        position: absolute;
	    bottom: 100%;
	    cursor: initial;
	    font-size: 16px;
	    font-weight: 500;
	    line-height: 26px;
	    left: 8px;
   		top: calc(52%);
	    z-index: 1;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #797C88;

	    &._active{
            top: 17px;
            left: 10px;
            font-size: 10px;
            line-height: 15px;

            @include for-pad{
            top: 14px;
            left: 9px;
            }
	    }
    }

    .filter_select{
        cursor: pointer;
        width: 11.092%;
        margin-right: 8px;
        position: relative;

        @include for-pad{
            width: calc((100% / 4.636) - 10px)!important;
            margin-right: 16px;
        }

        @include for-mobile{
            margin: 38px 0px 0px;
        }

        &:nth-child(1){
            width: 16.198%;

            @include for-pad{
                width: calc((100% / 2.7673) - 10px)!important;
            }
        }
        &:nth-child(2){
            width: 16.198%;

            @include for-pad{
                width: calc((100% / 2.7673) - 10px)!important;
            }
        }    
        &:nth-child(3){
            width: 11.973%;

            @include for-pad{
                width: calc((100% / 4.407) - 10px)!important;
            }
        }
        &:nth-child(4){
            width: 11.268%;
        }
        &:nth-child(5){
            width: 11.885%;
        }    
        &:nth-child(6){
            margin-right: 0;
        }                                       
    }

    .filter_select_block{
        position: relative;
	    background: #FFFFFF;
	    box-sizing: border-box;
	    box-shadow: inset 0px 2px 2px rgba(118, 125, 134, 0.1);
	    border-radius: 4px;


        

        &._active{

            .filter_select_list{
                display: block;
                top: 59px;
            }

            .filter_select_current:after{
                content:url("/images/close_icon.svg");
                border:none;
                top: 13px;
                right: 5px;
                width: auto;
                height: auto;
                transform:none;
            }


        }
    }

    .filter_select_current{
        height: 48px;
        white-space: nowrap;
        border-radius: 2px;
        padding: 0px 65px 0px 16px;
        position: relative;
        overflow: hidden;

        @include for-pad{
            height: 46px;
        }

        &:after{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-right: 3px solid $crlGrey;
            border-bottom: 3px solid $crlGrey;
            border-radius: 2px;
            transform: rotate(45deg);
            top: calc(43%);
            right: 12px;
            z-index: 2;
        }
        .close_x{
            position: absolute;
            width: 20px;
            height: 25px;
            display: none;
            right: 6px;
            top: 11px;
            z-index: 11;

            &._active{
                display: block;
            }
        }

        p{
            font-family: Lato;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 14px;
		    line-height: 20px;
		    display: inline;
		    align-items: center;
		    color: #2C3044;
		    position: absolute;
		    left: 9px;
            right: 8px;
            top: 47.75%;
		    bottom: 14.58%;
            width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include for-pad{
                top: 41.75%;
            }
        }

        .quantity{
            position: absolute;
            height: 15px;
            right: 24px;
            top: calc(50% - 13px/2 - .06px);
            border: 1px solid #2C689B;
            box-sizing: border-box;
            border-radius: 20px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #2C689B;
            padding: 6px;

            @include for-pad{
                right: 25px;
                top: calc(50% - 15px/2 - .06px);

            }

            &._none{
                display: none;
            }
        }

        &._xActive{


            &:after{
                content:url("/images/close_icon.svg");
                border:none;
                top: 15px;
                right: 4px;
                width: auto;
                height: auto;
                transform:none;
            }
        }
    }

    .filter_select_list{
        display: none;
        position: absolute;
        min-width: 100%;
        top: calc(100% - 1px);
        padding: 12px 0px 12px;
        background-color: white;
        box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
		border-radius: 4px;
        cursor: initial;
        z-index: 3;


        &::before{
        	content: "";
        	background-image: url(/images/Polygon.svg);
        	position: absolute;
        	width: 24px;
		    height: 16px;
		    bottom: calc(100% - 8px);
		    right: 32px;
        }
    }

    .filter_select_item{
        padding: 0px 15px 0px 15px;
        white-space: nowrap; 
        cursor: pointer;

        &:hover{
            background: #2C689B;

            p{
                color: white;
                background: #2C689B;
            }
        }

        &._active{
            background: #E7F3FF;

            &:hover p{
                color: $clrBlack;
            }
        }

        p{
            font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			display: flex;
			align-items: center;
			color: #2C3044;
        }
    }

    .filter_check{
        padding-left: 22px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 15px;
        display: none;

        @include for-pad{
            width: calc((100% / 3) - 10px);
        }

        @include for-mobile{
            margin: 17px 15px 0px 0px;
        }

        &:before{
            background: white;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid $clrLightGrey;
            border-radius: 2px;
            left: 0px;
            top: 0px;
        }

        &:after{
            content: '';
            position: absolute;
            width: 5px;
            height: 9px;
            left: 6px;
            transform: rotate(45deg);
            top: 2px;
            will-change: transform;
        }

        &._checked:after{
            border-bottom: 2px solid green;
            border-right: 2px solid green;
        }
    }

    .filter_submit{
        display: flex;
        flex-flow:row;


        @include for-pad{
            margin-left: 24px;
        }

        @include for-mobile{
            margin-top: 14px;
            width: 100%;
        }

        .clean_filter{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            border-bottom: 1px dashed #FFFFFF55;
            margin: auto;
            cursor: pointer;

            @include for-pad{
                line-height: 17px;
            }
        }
    }

    .filter_submit_button{
        line-height: 40px;
        margin: 0 10px 0 12px;

        @include for-pad{
            margin: 0;
            margin-right: 10px;

        }

        @include for-mobile{
            margin: 0;
            width: 100%;
            text-align: center;
        }

        &._button{
            padding: 3px 22px 5px;

            @include for-pad{
                padding: 3px 22px 4px;
            }
        }
    }
}

.filter_mobile_wrapper{
    position: sticky;
    top: 56px;
    padding: 5px 15px 5px;
    // z-index: 11;

    &.index_form{
    width: 234px;
    margin: auto;
    }


    .filter_mobile_button{
        display: none;
        line-height: 40px;
        text-align: center;
        background: #ffffff;
        border: solid 1px transparent;
        border-radius: 4px;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ff8d00,#f1e903);
        background-origin: border-box;
        background-clip: content-box, border-box;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;


        @include for-mobile{
            display: block;
            padding: 0;
        }

        .filter_before{
            margin-left: 16px;
        }

        .filter_before::before{
            content: "";
            background-image: url(/images/filter_icon.svg);
            width: 32px;
            height: 32px;
            position: absolute;
            left: calc(13%);
            top: calc(13%);
        }
    }
}
.for_mobile_filter_butt{

    .filter_mobile_button{
        background: linear-gradient(97.18deg, #FFA776 -25.77%, #FBF339 104.42%), #29EDB2;
    }
}

.forFilter{
	width: 60.834% !important;

    @include for-pad{
        width: calc(100% - 24px)!important;
    }
    @include for-mobile{
        width: 100% !important;
    }
    }
.filter_p{
	// display: none !important;

	&._active{
	display: block;
	}
}
/* Мобильный фильтр - начало*/
.filter_mobile{
    width: 320px;//на время верстки, потом сделать 100%
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
    padding: 28px 16px 22px 21px;
    display: none;

    @include for-mobile{
        margin-top: 25px;
    }

    @include for-mobile{
        &._active{
            display: block;
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            margin: 0px;
            overflow: hidden;

            .filter_wrapper_mobile{
                display: block;
                width: 100%;
                position: relative;

                .form_close{
                    display: block;
                }
            }

            .filter_mobile_button{
                display: none;
            }
        }
    }

    h3{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #2C3044;
    }

        .filter_check{
        padding-left: 22px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 15px;
        display: none;

        &._active{
            display: block;
        }

        @include for-pad{
            width: calc((100% / 3) - 10px);
        }

        @include for-mobile{
            
        }

        &:before{
            background: white;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid $clrLightGrey;
            border-radius: 2px;
            left: 0px;
            top: 0px;
        }

        &:after{
            content: '';
            position: absolute;
            width: 5px;
            height: 9px;
            left: 6px;
            transform: rotate(45deg);
            top: 2px;
            will-change: transform;
        }

        &._checked:after{
            border-bottom: 2px solid green;
            border-right: 2px solid green;
        }
    }
    .label_check{

                .filter_label{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #141417;
            margin-bottom: 4px;

            &:after{
                content: url("/images/dropdown_icon_down.svg");
                position: absolute;
                right: 0;
                cursor: pointer;
            }

            &._active{

                &:after{
                    content: url("/images/dropdown_icon_up.svg");
                }
            }
        }
    }

    .filter_select_block{

        .filter_select_list{
            display: none;
        }
        .filter_label{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #141417;
            margin-bottom: 4px;

            &:after{
                content: url("/images/dropdown_icon_down.svg");
                position: absolute;
                right: 0;
                cursor: pointer;
            }

            &._active{

                &:after{
                    content: url("/images/dropdown_icon_up.svg");
                }
            }
        }
        .filter_select_current{
            display: none;
        }
    }

    .label_check{


    }
    .filter_check_item{

        p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #2C3044;
            margin-bottom: 4px;
        }
    }
    .form_close{
        display: flex;
    }
    .clean_this_filter{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #4471E6;
        margin-bottom: 6px;
        display: none;

        &._active{
            display: block;
        }

        span{
        border-bottom: 1px dashed #4471E655;}
    }

    .filter_submit_button{ 

        &._button{
            width: 159px;
            height: 40px;
            padding: 0px 50px;
            margin:auto;
            }
        }
    .clean_filter{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #4471E6;
        margin: auto;

        span{
            border-bottom: 1px dashed #4471E655;
        }

    }
    .filter_submit{
        position: fixed;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        // margin-top: 16px;
        // margin-left: -10px;
        // margin-right: -10px;
        top: 84%;
        width: 100%;
        background: #ffffff;
        filter: drop-shadow(0px -5px 20px rgba(15, 4, 61, 0.1));
        height: 60px;
        left: 0;


    }
    .form_close{
        cursor: pointer;
        left: 100%;
        right: 0;

        &:after{
            content: "";
            background:none !important; 
        }
        &:before{
            content: url("/images/Close_icon_mobile.svg");
            transform: rotate(45deg);
            background:none !important;
            position: absolute;
            top: -14px;
            left: -27px;
        }
    }   


}
/* Мобильный фильтр - конец*/ 