footer {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    padding: 80px 91px 40px 172px;
    display: flex;
    justify-content: space-between;
    color: $footer_text;
    z-index: 10;
    background-color: #ffffff;
    opacity: 1;
    background: radial-gradient(16770px 16770px at center -8337px,transparent 50%,transparent 50%,#ffffff calc(50% + 5px));

    @include small-desktop {
        padding: 80px 16px 32px 16px;
    }

    @include extra-large {
        flex-direction: column;
        padding: 80px 75px 32px 16px;
    }

    @include large {
        top: 80px;
        left: 0;
        width: 100%;
    }

    @include medium {
        top: 64px;
        padding: 26px 75px 14px 12px;
        background: none;
        background-color: #ffffff;
    }

    .footer_cities {
        @include extra-large {
            order: 1;       
        }

        @include medium {
            display: none;
        }
    }

    .footer_cities_title {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;

        @include extra-large {
            margin: 16px 0 0 0;
        }
    }

    .footer_cities_wrapper {
        column-count: 4;
        column-width: 175px;
        column-gap: 0;
    }

    .footer_cities_link_wrapper {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        cursor: pointer;

    }    

    .footer_copyright,
    .footer_privacy_policy {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        width: 300px;
        cursor: pointer;

        @include extra-large {
            width: auto;
        }
    }

    .footer_privacy_policy {
        margin: 4px 0 0 0;
        text-decoration: underline;
        display: block;

        @include extra-large {
            margin: 0 0 0 calc(16px - 2px);
            display: inline-block;
        }

        @include medium {
            margin: 0 0 0 0;
            display: block;
        }
    }

    .img_footer_big_balloon,
    .img_footer_small_balloon,
    .img_footer_girl_present,
    .img_footer_boy,
    .img_footer_girl_smile {
        position: absolute;
        background: center / contain no-repeat;
    }

    .img_footer_big_balloon {
        top: -433px;
        right: 137px;
        width: 68px;
        height: 153px;
        background-image: url("/images/main/footer/blue_balloon.svg");
        display: none;

        @include extra-large {
            display: block;
            top: 10px;
            right: 41px;
        }

        @include medium {
            display: none;
        }
    }
    .img_footer_small_balloon {
        top: -514px;
        left: 65px;
        width: 61px;
        height: 153px;
        background-image: url("/images/main/footer/red_balloon.svg");
        display: none;

        @include extra-large {
            display: block;
            left: auto;
            top: 168px;
            right: -19px;
        }

        @include medium {
            top: 0px;
            right: 19px;
            width: 54px;
            height: 92px;
        }
    }
    // .img_footer_girl_present {
    //     top: -216px;
    //     right: 49px;
    //     width: 123px;
    //     height: 257px;
    //     background-image: url("/images/main/footer/girl_present.svg");

    //     @include extra-large {
    //         display: none;
    //     }
    // }
    // .img_footer_boy {
    //     top: -127px;
    //     right: 204px;
    //     width: 121px;
    //     height: 171px;
    //     background-image: url("/images/main/footer/small_boy_tube.svg");

    //     @include extra-large {
    //         display: none;
    //     }
    // }
    // .img_footer_girl_smile {
    //     top: -186px;
    //     left: 66px;
    //     width: 133px;
    //     height: 228px;
    //     background-image: url("/images/main/footer/girl_smile.svg");

    //     @include extra-large {
    //         display: none;
    //     }
    // }
}