.form_wrapper{
	width: 944px;
	background: radial-gradient(110.28% 287.99% at -3.85% 0%, #3D9CC5 0%, #192A68 100%), linear-gradient(101.68deg, #FF372F -6.81%, #883186 101.8%), #29EDB2;
	border-radius: 4px;
	padding: 32px 75px 40px;
	position: relative;

	@include for-pad{
		padding: 24px 24px 24px;
	    width: 744px;
	    height: 476px;
	    margin: auto;
	}

	@include for-mobile{
		padding: 17px 16px 16px;
		width: 99.312%;
		height: 730px;
		margin: auto;
	}
}

.form_close{
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 14px;
	transform: rotate(45deg);
	cursor: pointer;

	&:before,
	&:after{
		content: '';
		background: #F5D58F;
		position: absolute;
		border-radius: 2px;
	}

	&:before{
		width: 100%;
		height: 2px;
		top: 9px;
		left: 0px;
	}

	&:after{
		width: 2px;
		height: 100%;
		top: 0px;
		left: 9px;
	}

	&:hover{

		&:before,
		&:after{
			background: #FFB30F;
		}
	}
}

.form_title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

	.form_title_main{
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 7px;

		@include for-mobile{
			margin-right: 0px;
			font-size: 28px;
			line-height: 32px;
			text-align: center;
			margin-bottom: 5px;
		}
		.mobile_only{
			display: none;

			@include for-mobile{
				display: block;
			}
		}
	}

	.form_title_desc{
		font-weight: bold;
		font-size: 16px;
		color: #FFB30F;

		@include for-mobile{
			font-weight: normal;
			font-size: 14px;
		}
	}

	.form_title_text {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;

		@include for-mobile{
		font-size: 14px;
		line-height: 20px;
		}
	}
}

.form_block{
	display: flex;
	margin-top: 24px;
	flex-flow: column;

	@include for-pad{
		flex-direction: column;
	    align-items: center;
	    margin-top: 16px;
	}

	@include for-mobile{
		flex-direction: column;
	    align-items: center;
	    margin-top: 11px;	
	}

	.form_inputs{
		display: flex;
		flex-wrap: wrap;
		width: 828px;
		margin-left: 4px;

		.input_wrapper{
			width: 176px;
			margin-right: 15px;

			@include for-mobile{
				width: 100% !important;
			}

			&._big{
				width: 220px;

				@include for-pad{
					width: 184px;
					margin-left: 0px;
				}
			}

			&._small{
				width: 167px;
				position: relative;

				@include for-pad{
					width: 172px;
					margin-right: 0px;
				}
			}

			.input_label{
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				color: #FFFFFF;
				margin-bottom: 4px;
				margin-bottom: 4px;

				
			}

			input{
				border: 1px solid #DADEE1;
				box-sizing: border-box;
				border-radius: 4px;
				width: 100%;
				height: 48px;
				padding: 9px 16px 6px;
				box-shadow: inset 0px 2px 2px rgba(118, 125, 134, 0.1);
				background: #FFFFFF;
				margin-bottom: 2px;
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				display: flex;
				align-items: center;
				color: #2C3044;

				@include for-mobile{
					height: 40px;
				}

				&._invalid{
					border-color: #ea3e3e;
				}
			}
			.hidden_input{
				background: none;
				position: absolute;
				z-index: -1;
			    border: none;
			    top: 23px;
			    opacity:1;

			    &._active{
			    	z-index:1;
			    }

			    &._hide{
			    	opacity: 0;
			    }
			}
			.hidden_input_two{
				background: none;
				position: absolute;
				z-index: -1;
			    border: none;
			    top: 23px;
			    opacity: 0;

			    &._active{
			    	z-index:2
			    }
			}

			.input_desc{
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				color: #666666;
			}

			.not_necessary{
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 20px;
				color: #FFFFFF;

				@include for-mobile{
					display: none;	
				}

			}
		}

		.form_checkboxes{
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 20px;

			@include for-pad{
				justify-content: center;
			}

			@include for-mobile{
				margin: 0px;
				flex-direction: column;
			}

			.checkbox_title{
				font-weight: bold;
				font-size: 16px;
				line-height: 26px;
				margin-right: 15px;

				@include for-pad{
					margin: 0px 5px 0px 10px;
				}

				@include for-mobile{
					margin: 0px;
					width: 100%;
				}
			}

			.checkbox_wrapper{
				display: flex;

				@include for-mobile{
				    flex-direction: column;
					width: 100%;
				}
			}
		}

		@include for-pad{
			width: 100%;
		    justify-content: flex-start;
		    display: flex;
		    margin-left: 0px;

			.input_wrapper{
				margin: 0px 0px;
				margin-right: 16px;
				width: 146px;
			}
		}

		@include for-mobile{
			width: 100%;
			margin: 0 0 0px 0;

			.input_wrapper{
				margin: 0px 0px 10px;
			}
		}
	}

	.form_submit{
		width: 100%;
		display: flex;
		margin-left: 4px;

		@include for-pad{
		    width: 100%;
		    display: flex;
		    flex-direction: row;
    		justify-content: flex-start;
		    align-items: center;
		    margin-left: 0px;
		}

		@include for-mobile{
			width: 100%;
			display: flex;
    		flex-flow: column;
    		margin-left: 0px;
		}

		input._button{
			height: 50px;
			margin-top: 21px;
			background: linear-gradient(97.18deg, #FFA776 -25.77%, #FBF339 104.42%), #29EDB2;
			border-radius: 6px;
			margin-right: 16px;

			&:hover{
				background: linear-gradient(97.18deg, #FCEC3F -25.77%, #FBF339 104.42%), #29EDB2;
			}


			@include for-pad{
				width: 193px;
				margin-right: 4px;
			}

			@include for-mobile{
				width: 100%;
				margin: 0;
				height: 40px;
				margin-bottom: 8px;
				padding: 0 40% 0 36%;
			}

			&.disabled{
				pointer-events: none;
				opacity: 0.6;
			}
		}

		.form_policy{
			margin-top: 38px;

			@include for-pad{
				margin-top: 22px;
			}

			@include for-mobile{
				margin-top: 0px;
			}

			p{
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;

				&:before{
					top: 0px;
				}

				&:after{
					top: 3px;
				}
			}

			a{
				//text-decoration: underline;
				color: #FFFFFF;
				border-bottom: 1px solid #fff;
			}
		}
	}
}

.form_success{
	display: none;
	position: absolute;
    top: 0px;
    left: 0px;
    width: 944px;
    height: 100%;
    background: radial-gradient(110.28% 287.99% at -3.85% 0%, #3D9CC5 0%, #192A68 100%), linear-gradient(101.68deg, #FF372F -6.81%, #883186 101.8%), #29EDB2;
	box-shadow: 0px 5px 10px rgba(137, 86, 39, 0.1);
	border-radius: 5px;
	padding: 25px 75px 40px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 482px;

	@include for-pad{
		padding: 25px 20px 30px;
	}

	@include for-mobile{
		padding: 25px 20px 30px;
	}

	&._active{
		display: flex;
	}

	.form_success_title{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;

		.form_success_title_main{
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			text-align: center;
			color: #FFFFFF;			
			margin-right: 9px;

			@include for-mobile{
				margin-right: 0px;
				font-size: 28px;
				line-height: 32px;
				text-align: center;
			}
		}
	}

	.form_success_text{
		max-width: 600px;
		margin-bottom: 10px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
	}

	.form_success_close{
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;
	}

	.form_success_close:before{
		content: url("/images/reload_icon.svg");
		margin-right: 10px;
	}
}

.comments_textarea{
	width: 99%;
	height: 130px;
	margin-bottom: 27px;
	margin-top: -6px;
    margin-left: 4px;

    @include for-pad{
    	width: 100%;
    	height: 122px;
    	margin-left: 0px;
    }

    @include for-mobile{
    	width: 100%;
    	height: 104px;
    	margin-bottom: 48px;
    	margin-top: 0px;
    	margin-left: 0px;
    }

		.comment_form{
			background: #FFFFFF;
			border: 1px solid #DADEE1;
			box-sizing: border-box;
			box-shadow: inset 0px 2px 2px rgba(118, 125, 134, 0.1);
			border-radius: 4px;
			width: 100%;
    		height: 100%;
    		resize: none;
					}
		.input_label{
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				color: #FFFFFF;
				margin-bottom: 3px;

				
			}
}
.calendar_icon {
	position: absolute;
	right: 7px;
    top: 35px;

	@include for-mobile{
	}
}

.not-necessery_mobile{
	display: none;
	font-size: 12px;

	@include for-mobile{
		display: inline;
	}

	span{
		
	}
}
.contetn_block{

	._listing_form{

		@include for-pad{
		margin-bottom: 32px;}
	}
}
.calendar_wrapper {
    position: absolute;
    width: 100%;
    top: 45px;

    .open_calendar_button {
      position: absolute;
      background-image: url('/images/calendar_icon.svg');
      width: 20px;
      height: 20px;
      top: -6px;
      right: 4px;
      cursor: pointer;
    }
  }
  