.form_max_for_page {
	margin: 32px 0;
	width: calc(100% - 300px);
	position: relative;
	left: 300px;
	text-align: center;
	padding: 0 5px;
	z-index: 20;

	@include large {
		top: 80px;
		margin: 40px 0;
		padding: 0 0;
        left: 0;
        width: 100%;
    }

	@include medium {
		top: 64px;
		margin: 32px 0 24px 0;
	}

}

.form_wrapper {
	width: 1038px;
	height: 704px;
	position: relative;	
	padding: 1px 0 0 0;
	color: $header_text;

	@include small-desktop {
		width: 736px;
		height: 648px;
	}

	@include extra-large {
		width: 100%;
		max-width: 736px;
		height: 660px;
	}

	@include large {
		height: 648px;
	}

	@include medium {
		height: auto;
		background: linear-gradient(66.59deg, #FFD6BF 8.59%, #FFD0C6 61.92%, #FFDED7 95.37%);
	}

	.bg_form_wrapper_for_desktop {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		@include small-desktop {
			display: none;
		}
	}

	.bg_form_wrapper_for_large {
		display: none;

		@include small-desktop {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		@include medium {
			display: none;
		}
	}

	.form_block {
		display: block;
		&._hide {
			display: none;
		}
	}

	.form_title_main {
		margin: calc(69px - 1px) 0 0 0;
		font-size: 38px;
		line-height: 46px;
		text-align: center;

		@include small-desktop {
			margin: calc(48px - 1px) 0 0 0;
		}

		@include medium {
			margin: calc(24px - 1px) 12px 0 12px;
			font-size: 33px;
			line-height: 38px;
		}
	}

	.form_title_text {
		margin: calc(3px - 1px) auto 0 auto;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		width: 764px;

		@include small-desktop {
			width: 641px;
		}

		@include medium {
			width: auto;
			margin: 0 12px 0 12px;
			font-size: 16px;
			line-height: 24px;
		}
	}

	.form_inputs_wrapper {
		margin: 20px auto 0 auto;
		width: 708px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: start;

		.input_wrapper {
			margin-left: 24px;
			height: 98px;
			position: relative;
			user-select: none;
		}

		.input_wrapper:nth-child(1),
		.input_wrapper:nth-child(4) {
            margin-left: 0;
        }

		@include small-desktop {
			width: 624px;
			margin: 16px auto 0 auto;

			.input_wrapper {
				margin-left: 16px;
			}

			.input_wrapper:nth-child(5) {
				margin-left: 24px;
			}
		}

		@include medium {
			width: 296px;
			margin: 24px auto 0 auto;
			.input_wrapper {
				margin-left: 0;
			}
			.input_wrapper:nth-child(5) {
				margin-left: 0;
			}
		}

		.input_label {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			color: $header_text;
			text-align: left;
		}

		input {
			margin: 2px 0;			
			height: 56px;
			background: #FFFFFF;
			border-radius: 4px;
			padding-left: 8px;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			color: $header_text;
			cursor: pointer;
	
			&::placeholder {
				color: $select_city_input_border;
			}

			&._invalid {
				border: 1px solid $color_error;
			}

			@include small-desktop {
				height: 48px;
			}

			&:focus {
				border: 1px solid #FC9E6A;
			}
		}

		.form_inpyt,
		.form_inpyt_city {
			width: 220px;

			@include small-desktop {
				width: 197px;
			}

			@include medium {
				width: 296px;
			}
		}		

		.form_input_error {
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.01em;
			color: $color_error;
			text-align-last: left;
		}

		.form_inpyt_city,
		.form_inpyt_guest {
			margin: 2px 0;			
			height: 56px;
			background: #FFFFFF;
			border-radius: 4px;
			padding-left: 8px;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			color: $header_text;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: start;

			@include small-desktop {
				height: 48px;
			}
		}

		.form_inpyt_city_check,
		.form_inpyt_guest_check {
			position: absolute;
			top: 50px;
			right: 10px;
			transform: rotateX(180deg);
    		transition: 0.3s;
			
			&._hide {
				transform: rotateX(0);
			}

			@include small-desktop {
				top: calc(50px - 4px);
			}
		}

		.form_inpyt_city_options,
		.form_inpyt_guest_options {
			position: absolute;			
			overflow: auto;
			top: 81px;
			left: 0;
			background: #FFFFFF;
			box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
			border-top: 1px solid #FCD5B9;
			border-radius: 0px 0px 4px 4px;
			z-index: 1;

			@include small-desktop {
				top: calc(81px - 8px);
			}

			scrollbar-color: #FF685F #FFFFFF;     /* «цвет ползунка» «цвет полосы скроллбара» для FireFox */
    		scrollbar-width: thin;

			&::-webkit-scrollbar {
				width: 12px;
				background-color: #FFFFFF;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #FF685F;
				border-radius: 24px;
			}
			&::-webkit-scrollbar-button:vertical:start:decrement {
				display: none;
			}			
			&::-webkit-scrollbar-button:vertical:end:increment {
				display: none;
			}

			&._hide {
				display: none;
			}			
		}

		.form_inpyt_city_options {
			width: 220px;
			height: 360px;

			@include small-desktop {
				width: 197px;
			}

			@include medium {
				width: 296px;
			}
		}
		
		.form_inpyt_guest_options {
			width: 156px;
			height: 122px;
		}

		.options_element_city,
		.options_element_guest {
			padding-left: 8px;
			text-align: left;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;

			&._current {
				color: $footer_text;
			}

			&:hover {
				background: #FCD5B9;
				cursor: pointer;
			}
		}

		.form_inpyt_guest {
			width: 156px;
		}

		.form_inpyt_date {
			width: 148px;
		}

		textarea {
			width: 708px;
			height: 130px;
			background: #FFFFFF;
			box-shadow: inset 0px 2px 2px rgba(118, 125, 134, 0.1);
			border-radius: 4px;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			color: $header_text;
			cursor: pointer;
			resize: none;
			padding: 8px 8px 8px 16px;
			
			&::placeholder {
				color: $select_city_input_border;
			}

			@include small-desktop {
				width: 624px;
			}

			@include medium {
				width: 296px;
			}

			&:focus {
				border: 1px solid #FC9E6A;
			}
		}

		.form_submit {
			margin: 32px 0 0 0;
			display: flex;
			align-items: start;
			justify-content: start;

			@include small-desktop {
				margin: 24px 0 0 0;
			}

			@include medium {
				flex-direction: column;
			}
					
			.btn_form_submit {
				width: 205px;
				height: 56px;
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
				cursor: pointer;
		
				svg {
					width: 205px;
					height: 56px;
					position: absolute;
					top: 0;
					left: 0;
	
					path {
						fill: url(#paint0_linear_form_submit_popup_btn)
					}
				}

				@include small-desktop {
					width: 189px;
					height: 48px;

					svg {
						width: 189px;
						height: 48px;
					}
				}
		
				p {
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					color: $color_btn_font;
					z-index: 1;
				}
	
				&:hover {
					svg path {
						fill: url(#paint1_linear_form_submit_popup_btn)
					}
				}	
				&:active {
					svg path {
						fill: url(#paint2_linear_form_submit_popup_btn)
					}
				}
			}
		
			.form_policy {
				margin: 10px 0 0 22px;
				text-align: left;

				@include medium {
					margin: 12px 0 32px 0;
				}

				.checkbox_wrapper {
					float: left;
				}
		
				input[type=checkbox] {
					display: none;
				}
				label {
					display: inline-block;
					cursor: pointer;
					position: relative;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.01em;
					color: $header_text;
					border: none;
					box-shadow: none;
					padding-left: 23px;
		
					&:before {
						content: "";
						width: 17px;
						height: 20px;
						position: absolute;
						left: 0;
						top: 0;
						background: center/ contain no-repeat;
						background-image: url("/images/main/form_popup/bg_checkbox.svg");
						background-size: 110%;
		
					}
				}
				input[type=checkbox]:checked + label:before {
					content: "\2714";
					font-size: 19px;
					color: #2C689B;
					text-align: right;
					line-height: 15px;
				}
		
				a {
					cursor: pointer;
					position: relative;				
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.01em;
					color: $header_text;
					text-decoration: underline;
					border: none;
				}

				
			}
		}
	}

	.form_success {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 50%;
    	position: relative;
    	transform: translateY(-50%);

		@include medium {
			top: auto;
			transform: none;
		}

		.form_success_title_main {
			font-size: 38px;
			line-height: 46px;

			@include medium {
				margin: 56px 0 0 0;
				font-size: 33px;
				line-height: 38px;
			}
		}

		.form_success_text_main {
			margin: 3px 0 0 0;
			max-width: 764px;
			font-size: 18px;
			line-height: 24px;

			@include small-desktop {
				max-width: calc(736px * 0.7);
			}

			@include medium {
				margin: 4px 12px 0 12px;
			}
		}

		.form_success_close {
			margin: 16px 0 0 0;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			position: relative;
			display: inline-block;
			border-bottom: 1px solid $header_text;
			color: $header_text;

			&:after {
				content: '\2716';
				position: absolute;
				font-size: 21px;
				font-weight: 700;
				top: 3px;
				right: -25px;
			}

			&:hover {
				border-bottom: 1px solid $header_text_hover;
				color: $header_text_hover;
			}

			&:active {
				border-bottom: 1px solid $header_text_active;
				color: $header_text_active;
			}

			@include medium {
				margin: 8px 0 40px 0;
			}
		}
	
		&._active {
			display: flex;
		}
	}
}

.img_form_big_balloon,
.img_form_small_balloon,
.img_form_girl_present,
.img_form_boy,
.img_form_girl_smile {
    position: absolute;
    background: center / contain no-repeat;
}
.img_form_big_balloon {
    bottom: calc(280px - 32px);
    right: 137px;
    width: 68px;
    height: 153px;
    background-image: url("/images/main/footer/blue_balloon.svg");
    @include small-desktop {
		right: 50px;
	}
	@include extra-large {
        display: none;
    }
}
.img_form_small_balloon {
    bottom: calc(409px - 32px);
    left: 65px;
    width: 61px;
    height: 104px;
    background-image: url("/images/main/footer/red_balloon.svg");
    @include small-desktop {
		left: 30px;
	}
	@include extra-large {
		display: none;
    }
}
.img_form_girl_present {
    bottom: calc(216px - 257px - 32px);
    right: 49px;
    width: 123px;
    height: 257px;
    background-image: url("/images/main/footer/girl_present.svg");
    @include small-desktop {
		right: 10px;
	}
	@include extra-large {
        display: none;
    }
}
.img_form_boy {
    bottom: calc(127px - 171px - 32px);
    right: 204px;
    width: 121px;
    height: 171px;
    background-image: url("/images/main/footer/small_boy_tube.svg");
    @include small-desktop {
		left: 15px;
		right: auto;
	}	
	@include extra-large {
        display: none;
    }
}
.img_form_girl_smile {
    bottom: calc(186px - 228px - 32px);
    left: 66px;
    width: 133px;
    height: 228px;
    background-image: url("/images/main/footer/girl_smile.svg");
    @include small-desktop {
        display: none;
    }
}

	
