header {    
    user-select: none;
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $header_bg;
    z-index: 100;

    @include large {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
    }

    @include medium {
        height: 64px;
    }
}

.logo_header {
    width: 140px;
    height: 149px;
    margin: 15px 0 0 80px;

    .logo_header_for_desktop {
        width: 100%;
		height: 100%;
    }

    .logo_header_for_phone {
        display: none;        
    }

    @include large {
        width: 60px;
        height: 64px;
        margin: 0 0 0 15px;
    }

    @include medium {
        width: 45px;
        height: 46px;
        margin: 0 0 0 9px;

        .logo_header_for_desktop {
            display: none;
        }

        .logo_header_for_phone {
            width: 100%;
		    height: 100%;
            display: block;
        }
    }
}

.city_header {
    display: none;

    @include large {
        display: inline-block;
        height: 28px;
        margin: 0 0 0 5px;
        border-bottom: 1px dashed $header_text;
        position: relative;
        cursor: pointer;
        
        p {
            display: inline;
            font-size: 16px;
            line-height: 28px;
            color: $header_text;            
        }

        &:hover {
            border-bottom: 1px dashed $header_text_hover;
    
            p {
                color: $header_text_hover;
            }
        }
    
        &:active {
            border-bottom: 1px dashed $header_text_active;
    
            p {
                color: $header_text_active;
            }
        }

        &:after {
            content: "";
            width: 20px;
            height: 10px;
            position: absolute;
            top: 10px;
            right: -25px;    
            background: center no-repeat;
            background-image: url("/images/main/header/icon_check.svg");
            background-size: 60%;
            cursor: pointer;
        }
    }

    @include medium {
        display: none;
    }    
}

.phone_header {
    display: none;
    cursor: pointer;
    font-weight: bold;
    color: $header_text;

    @include large {
        display: inline-block;
        margin: 0 0 0 auto;
        font-size: 18px;
        line-height: 24px;
    }

    @include medium {
        font-size: 16px;
    }
}

.burger_menu_header {
    display: none;
    width: 32px;
    height: 24px;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    div {
        position: absolute;
        left: 0;
        width: 32px;
        height: 4px;
        background: $color_burger_menu;
        border-radius: 8px;
    }

    div:nth-child(1) {
        top: 0;
        transform-origin: left top;
        transform: rotate(0);
        transition: 0.4s;
    }

    div:nth-child(2) {
        top: 10px;
        opacity: 1;
        transition: 0.4s;
    }

    div:nth-child(3) {
        bottom: 0;
        transform-origin: left bottom;
        transform: rotate(0);
        transition: 0.4s;

    }
    
    @include large {
        display: inline-block;
        margin: 0 16px 0 24px;
    }

    @include medium {
        margin: 0 12px 0 10px;
    }

    &._active {
        div {
            left: 6px;
        }

        div:nth-child(1) {
            width: 30px;
            transform: rotate(45deg);
            transition: 0.4s;
        }

        div:nth-child(2) {
            opacity: 0;
            transition: 0.4s;
        }

        div:nth-child(3) {
            width: 30px;
            transform: rotate(-45deg);
            transition: 0.4s;
        }
    }
}

.bg_burger_menu {    
    width: 100%;
    height: calc(100vh - 132px - 16px);
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
    &::-moz-scrollbar {
        width: 0;
    }

    @include large {
        display: none;
        width: 100%;
        height: 260px;
        max-height: calc(100vh - 80px);
        top: 80px;
        left: 0;
        background-color: $header_bg;
        position: absolute;

        &._active {
            display: block;
        }
    }

    @include medium {        
        width: 100%;
        height: calc(100vh - 64px);
        top: 64px;
        max-height: calc(100vh - 64px);
    }
}

.city_header_clone {
    margin: 5px 0 0 36px;
    height: 24px;
    border-bottom: 1px dashed $header_text;
    position: relative;
    display: inline-block;
    cursor: pointer;

    p {
        display: inline;
        font-size: 18px;
        line-height: 24px;
        color: $header_text;
    }

    @include large {
        display: none;
    }

    @include medium {
        display: inline-block;
        margin: 16px 0 0 37px;        
    }

    &:hover {
        border-bottom: 1px dashed $header_text_hover;

        p {
            color: $header_text_hover;
        }
    }

    &:active {
        border-bottom: 1px dashed $header_text_active;

        p {
            color: $header_text_active;
        }
    }

    &:after {
        content: "";
        width: 20px;
        height: 10px;
        position: absolute;
        top: 7px;
        right: -25px;    
        background: center no-repeat;
        background-image: url("/images/main/header/icon_check.svg");
        background-size: 60%;
        cursor: pointer;
    }
}

.block_links_one {
    width: 260px;
    height: 130px;
    background: center / contain no-repeat;
    background-image: url("/images/main/header/bg_block_links_one.svg");
    margin: 12px 0 0 12px;
    padding: 16px 0 0 24px;
    
    a {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $header_text;
    }

    a:not(:first-child) {
        margin: 12px 0 0 0;
    }

    a._active {
        color: $aktive_link_text;
        cursor: default;
    }

    @include large {
        display: inline-block;
        padding: 17px 0 0 24px;
        margin: 21px 0 0 16px;
        vertical-align: top;
    }

    @include medium {
        display: block;
        padding: 16px 0 0 24px;
        margin: 12px 0 0 13px;
    }
}

.block_links_two {
    width: 260px;
    height: 140px;
    background: center / contain no-repeat;
    background-image: url("/images/main/header/bg_block_links_two.svg");
    margin: 12px 0 0 12px;
    padding: 26px 0 0 24px;

    a {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $header_text;
    }

    a:not(:first-child) {
        margin: 12px 0 0 0;
    }

    a._active {
        color: $aktive_link_text;
        cursor: default;
    }

    @include large {
        display: inline-block;
        margin: 16px 0 0 9px;
        vertical-align: top;
    }

    @include medium {
        display: block;
        margin: 12px 0 0 13px;
    }
}

.block_article_contact {
    margin: 8px 0 0 36px;

    a {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $header_text;
    }

    a:not(:first-child) {
        margin: 12px 0 0 0;
    }

    a._active {
        color: $aktive_link_text;
        cursor: default;
    }

    @include large {
        display: inline-block;
        margin: 38px 0 0 23px;
        vertical-align: top;
    }

    @include medium {
        display: block;
        margin: 12px 0 0 37px;
    }
}

.phone_header_clone {
    display: inline-block;
    cursor: pointer;
    margin: 16px 0 0 28px;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    color: $header_text;

    @include large {
        font-size: 28px;
        line-height: 38px;
        margin: 33px 0 0 32px;
    }

    @include medium {
        display: block;
        font-size: 30px;
        line-height: 46px;
        margin: 16px 0 0 29px;
    }
}

.btn_popup_max_form_clone,
.btn_popup_max_form, 
.btn_popup_min_form {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    p {
        z-index: 3;
        position: relative;
    }
}

.btn_popup_max_form_clone,
.btn_popup_min_form {
    width: 248px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
}

.btn_popup_max_form_clone {
    margin: 8px 0 0 28px;
    color: $color_btn_font;

    svg.extra-large {        
        fill: url(#paint0_linear_btn_popup_max_form_clone);
    }
    &:hover {
        svg.extra-large {
            fill: url(#paint1_linear_btn_popup_max_form_clone);
        }
    }
    &:active {
        svg.extra-large {
            fill: url(#paint2_linear_btn_popup_max_form_clone);
        }
    }

    @include large {
        display: none;
    }

    @include medium {
        display: block;
        margin: 8px 0 0 29px;
    }
}

.btn_popup_max_form {
    display: none;

    @include large {
        display: inline-block;
        margin: 0 0 0 10px;
        width: 141px;
        height: 56px;
        font-size: 16px;
        line-height: 20px;

        svg.large {
            fill: url(#paint0_linear_btn_popup_max_form);
        }
        &:hover {
            svg.large {
                fill: url(#paint1_linear_btn_popup_max_form);
            }
        }    
        &:active {
            svg.large {
                fill: url(#paint2_linear_btn_popup_max_form);
            }
        }
    }

    @include medium {
        display: none;
    }
}

.btn_popup_min_form {
    margin: 8px 0 0 28px;
    color: $white_btn_font;

    svg {
        fill: white;
    }
    &:hover {
        svg {
            fill: #FCD5B9;
        }
    }
    &:active {
        svg {
            fill: url(#paint0_linear_btn_popup_min_form);
        }
    }

    @include large {
        display: inline-block;
        margin: 24px 0 0 24px;
    }

    @include medium {
        display: block;
        margin: 8px 0 0 29px;
    }
}

.city_select_wrapper {
    user-select: none;
    display: none;
    width: calc(100% - 300px);
    height: 100vh;
    position: fixed;
    left: 300px;
    top: 0;
    background-color: $select_city_bg;
    z-index: 3;

    &._hide {
        display: block;
    }

    @include large {
        width: 100%;
        height: calc(100vh - 80px);
        left: 0;
        top: 80px;
    }

    @include medium {
        height: calc(100vh - 64px);
        top: 64px;
    }
}

.city_select_header {
    margin: 40px 0 0 40px;
    
    @include large {
        margin: 16px 0 0 16px;
    }

    @include medium {
        margin: 48px 0 0 12px;
    }

    .city_select_header_for_large {
        font-size: 28px;
        line-height: 38px;
        color: $select_city_text;

        @include medium {
            display: none;
        }
    }

    .city_select_header_for_medium {
        display: none;
        font-size: 28px;
        line-height: 38px;
        color: $header_text;

        @include medium {
            display: block;
        }
    }
    
}

.city_select_close {
    position: absolute;
    top: 40px;
    right: 70px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;

    @include large {
        top: 23px;
        right: 43px;
    }

    @include medium {
        top: 16px;
        left: 38px;
        right: auto;
    }

    .city_select_close_for_large {
        position: relative;
        display: inline-block;
        color: $close_select_city_text;

        @include medium {
            display: none;
        }

        &:hover {
            color: $close_select_city_hover;
        }
    
        &:active {
            color: $close_select_city_active;
        }

        &:after {
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            right: -23px;
            top: 4px;
            background: center / contain no-repeat;
            background-image: url("/images/main/header/close.svg");
        }
    }

    .city_select_close_for_medium {
        display: none;

        @include medium {
            display: inline-block;
            position: relative;
            color: $header_text;
            font-size: 18px;
            border-bottom: 1px dashed $header_text;
        }

        &:hover {
            border-bottom: 1px dashed $header_text_hover;
            color: $header_text_hover;
        }
    
        &:active {
            border-bottom: 1px dashed $header_text_active;
            color: $header_text_active;
        }

        &:after {
            content: "←";
            width: 18px;
            height: 24px;
            position: absolute;
            top: 0;
            left: -26px;
        }
    }
}

.city_select_imput {
    width: 320px;
    height: 48px;
    margin: 16px 0 0 40px;
    background: $select_city_bg;
    border: 1px solid $select_city_input_border;
    border-radius: 4px;
    padding-left: 8px;
    font-size: 26px;
    position: relative;

    &:focus {
        border: 1px solid $select_city_input_borde_focus;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 24px;
        color: $select_city_input_border;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
    }

    @include large {
        margin: 16px 0 0 16px;
    }

    @include medium {
        width: 296px;
    }
}

.city_select_imput_btn {
    width: 19px;
    height: 19px;
    background: center / contain no-repeat;
    cursor: pointer;
    background-image: url("/images/main/header/search.svg");
    margin-left: calc(-11px - 19px);
    position: relative;
}

.city_select_list_wrapper {
    margin: 24px 0 0 40px;
    height: calc(100vh - 40px - 38px - 48px - 16px - 24px - 10px);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    @include large {
        margin: 24px 0 0 16px;
        height: calc(100vh - 80px - 16px - 38px - 48px - 16px - 24px - 10px);
    }

    @include medium {
        margin: 8px 0 0 12px;
        height: calc(100vh - 64px - 16px - 24px - 8px - 38px - 8px - 48px - 10px);
    }

    .city_select_list {
        column-count: 4;

        @include large {
            column-count: 3;            
        }
    
        @include medium {
            column-count: 1;
        }
    }
    
    .city_select_letter_block {
        width: calc(117px + 127px - 17px);
        margin-left: 17px;
        position: relative;
    
        p {
            font-size: 16px;
            line-height: 28px;
            color: $header_text;
        }
    
        &:after {
            content: attr(data-first-letter);
            position: absolute;
            top: 0;
            left: -17px;
            font-size: 14px;
            line-height: 26px;
            color: $select_city_input_border;
        }
    
        @include medium {
            margin-bottom: 16px;
        }    
    }
}