$fontFamilyLato:Lato;

.object_head{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    // min-height: 573px;
    margin-top: 26px;
    z-index: 0;

    @include for-pad{
        margin-top: 0px;
        min-height: auto;
        padding-left: 0px;
        align-items: center;
    }

    @include for-mobile{
        padding-left: 0px;
        min-height: auto;
        margin-top: 22px;
    }

    &._forMobile{

        @include for-mobile{
        margin-top: 0px;}
    }
    &._forMobileHide{

        @include for-mobile{
        margin-top: 2px;}
    }

}

.object_gallery{
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;

    @include for-pad{
        // top: 71px;
        // left: calc(50% - 355px);
        display: block;
        margin: auto;
        padding: 12px;
    }
    @include for-mobile{
    width: 89.687%;
    margin: auto;
    }

    .swiper-container {
    margin: 0 !important;
    }

    .item_top_slider{
        margin: 0;
        margin-bottom: 5px;
        width: 49.8%;

        @include for-pad{
            width: 100%;
        }

        @include for-mobile{
            height: auto;
            width: 100%;
        }

        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            a{
                    width: 100%;
            }

            img{


                @include for-pad{
                    width: 100%;
                }
                @include for-mobile{
                    max-width: 100%;
                }
            }
        }
    }
    .item_thumb_slider{
        width: 49.8%;

        @include for-pad{
            width: 100%;
        }
        @include for-mobile{
            display: none;
        }

        .swiper-wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        transform:none;

        @include for-pad{
            margin-top: 4px;
            justify-content: space-between;
        }

        .swiper-slide{
            width: 49.6% !important;
            height: auto;
            margin-right: 0px !important;

            @include for-pad{
                width: 23.388% !important;
                height: auto;
                

                &:last-of-type{
                    margin-right: 0px;
                }
            }

            img{
                width: 100%;
            }
        }
        }

    }
.swiper-pagination{
    display: none;

    @include for-mobile{
    display: flex; 
    position: absolute;
    top: 102%!important;
    margin: auto;
    width: 100%;
    justify-content: center;
    }
}
    // @include for-mobile{
    //     width: 100%;
    // }

    .object_thumb{
        @include for-mobile{
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: 100%;
            }
        }
    }
}

.object_meta{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 4px;
    padding-left: 4px;

    @include for-pad{
        width: 100%;
        justify-content: center;
        margin-bottom: 89px;
        padding-left: 0px;
    }
    @include for-mobile{
        width: 100%;
        padding-left: 0;
        margin-bottom: 22px;
    }



    .object_meta_block{
        display: flex;

        @include for-mobile{
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 7px;
        }
    }

    .object_meta_item{
        margin: 0 53px 19px 0;

        @include for-pad{
            margin: 0 40px 19px 0;
        }

        @include for-mobile{
            width: 100%;
            margin: 0 0 2px;
            display: flex;
            align-items: flex-end;

            .object_meta_title{
                width: 40%;
                min-width: 128px;
                margin-right: 24px;
            }

            .object_meta_value{
                width: calc(100% - 128px);
            }
        }

        &._item_marg{
            margin-right: 34px;

            @include for-pad{
                margin-right: 40px;
            }

            @include for-mobile{
                margin-right: 0px;
            }
        }

        &:last-child{
            margin-right: 0px;
        }

        .object_meta_title{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #2C3044;
            margin-bottom: 6px;

            @include for-pad{
                margin-bottom: 4px;
            }
        }

        .object_meta_value{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #2C3044;

            span{
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;

                @include for-pad{
                font-size: 28px;
                line-height: 32px;
                }

                @include for-mobile{
                    font-size: 18px
                }
            }
        }

        &._furshet{
            height: 27px;
        }
    }
}

.object_book{
    background: #E7F3FF;
    border-radius: 12px;
    padding: 9px 24px 15px;
    position: absolute;
    right: -7px;
    bottom: 3px;
    width: 43.08%;

    @include for-notdesc{
        width: 45%;
        padding: 10px 20px 15px;
        right: -50px;
    }

    @include for-lowdesc{
        width: 52%;
        padding: 10px 20px 15px;
        right: -185px;
    }

    @include for-pad{
        width: 72.137%;
        right: 14%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        bottom: auto;
        top: 104%;
        border-radius: 6px;
        padding: 14px 26px 14.87px;
    }


    @include for-mobile{
    position: relative;
    width: 98.843%;
    bottom: 0;
    right: 0;
    padding: 4px 27px 10px 36px;
    }

    .object_book_text{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 7px;
        font-family: Lato;
        font-style: normal;

        @include for-pad{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #2C3044;
            margin: 0;
            margin-top: 8px;
            margin-left: 28px;
        }
        @include for-mobile{
            display: none;
        }
    }

    .object_book_hidden{
        display: flex;
        align-items: flex-end;

        @include for-pad{
            margin: 0;
            margin-right: 28px;
        }

        @include for-mobile{
            flex-direction: column;
            align-items: center;
        }

        &._active{

            .object_book_phone{

                .object_fake_phone{
                    display: none;
                }

                .object_real_phone{
                    display: block;
                }
            }

            .object_book_hidden_button{
                display: none;
            }
        }

        .object_book_phone{
            margin-right: 8px;

            @include for-pad{
                margin-right: 13px;
            }
            @include for-mobile{
                margin-bottom: 1px;
            }

            .object_fake_phone{
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                font-family: Lato;
                font-style: normal;

                @include for-pad{
                font-size: 28px;
                line-height: 32px;
                }
                @include for-mobile{
                font-size: 24px;
                line-height: 32px;
                }
            }

            .object_real_phone{
                display: none;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                font-family: Lato;
                font-style: normal;

                @include for-pad{
                font-size: 28px;
                line-height: 32px;
                }
                @include for-mobile{
                font-size: 24px;
                line-height: 32px;
                }
            }
        }

        .object_book_hidden_button{
            color: #4471E6;;
            border-bottom: 1px dashed #4471E650;
            margin: 0px 0px 2px;
            cursor: pointer;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #4471E6;

            @include for-mobile{
                margin-right: 7px;
            }
        }
    }

    .object_book_action{
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        padding-left: 43px;
        background-image: url(/img/gift_icon.svg);
        background-position: 0px 50%;
        background-size: 30px;
        background-repeat: no-repeat;
        min-height: 37px;
    }

    .object_book_button{
        width: fit-content;
        text-align: center;
        line-height: 40px;
        margin-top: 12px;
    }
}

.object_parameters{
    height: auto;

    @include for-pad{
        width: 96.875%;
        display: flex;
        justify-content: space-between;
    }
    @include for-mobile{
        height: 215px;
        overflow: hidden;
        order:0;
    }

    .object_parameters_list{
        margin-top: 0px;
        margin-bottom: 10px;

        &._bottom{
            margin-bottom: 16px;
        }

        &._mobile{
            display: none;
        }

        @include for-pad{
            width: 377px;

            ._mobile{
                display: block;
            }

            &[data-mobile-hide]{
                display: none;
            }
        }

        .object_parameters_title{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #2C3044;
            margin-bottom: 3px;

            @include for-pad{
                margin-bottom: 4px;
            }

            @include for-mobile{
                font-size: 18px;
            }

            .parametrs{
                display: flex;
                flex-flow: row wrap;
                width: 40%;
            }
        }

        .object_parameters_item{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #2C3044;
            margin-bottom: 7px;

            
        }

        &._marked{

            .parametrs{
                display: flex;
                flex-flow: column wrap;
                width: 56%;
                margin-left: 2px;
                height: 130px;

                @include for-pad{
                    height: 155px;
                    width: 83%;
                }
                @include for-mobile{
                    flex-flow: column nowrap;
                    height: auto;
                }

                &._right{
                    height: 200px;

                    @include for-pad{
                        height: auto;
                    }
                    @include for-mobile{
                        height: auto;
                    }
                }
            }
            
            .object_parameters_item{
                padding-left: 20px;
                background-image: url(/images/item/check_item.svg);
                background-position: 0px 6px;
                background-size: 12px;
                background-repeat: no-repeat;
            }
        }
    }
}

.object_description{
    margin-bottom: 60px;
}

[data-page-type="item"] .items_list_listing.swiper-container .items_list{
    justify-content: center;

    @media (max-width: 1650px) {
        justify-content: initial;
    }
    @include for-mobile{
        margin-top: 16px;
    }
}
[data-page-type="item"]{
    width:100% !important;
    margin-bottom: 22px !important;

    @include for-pad{
        margin-bottom: 3px!important;
    }
    @include for-mobile{
        margin-bottom: 19px !important;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: 15px;

        @include for-mobile{
            right:8px;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        top: 49.5%;

        @include for-pad{
            top: 52%;
        }

        @include for-mobile{
            top:54%;
        }
    }
    .item_description{
            padding: 0 0px 0 0;

            @include for-pad{
                padding: 0 20px;
            }
    }
    .item-block .vector_price{
        margin-top: 13px;
        margin-left: 160px;

        @include for-pad{
                margin-top: 30px;
                position: absolute;
                margin-left: 121px;
        }

        @include for-mobile{
                margin-top: 30px;
                position: absolute;
                margin-left: 121px;
        }
    }
    .item-block .price .item_meta_item .item_meta_text{
        margin-top: 7.5%;

        @include for-pad{
            margin-top: 0px;
        }
        @include for-mobile{
            margin-top: 0;
        }
    }
    // .item_similar_rooms .item-block{
    //     margin-bottom: 32px;

    //     @include for-mobile{
    //         margin-bottom: 60px;
    //     }
    // }
    .yet{
        padding: 0;
        text-align: center;
        background: #fff;
        border: solid 1px transparent;
        border-radius: 4px;
        background-image: linear-gradient(white,#fff),radial-gradient(circle at top left,#ff8d00,#f1e903);
        background-origin: border-box;
        background-clip: content-box,border-box;
        margin-bottom: 79px;
        width: 234px;
        height: 48px;
        justify-content: center;
    }
    .callback ._first_form._item ._button {
    padding: 10px 0 12px 17px;
    margin-left: calc(53% - 70px);
    }
    .callback .arrow_open{
        right: 97%;
    }
    .item_similar_rooms .swiper-slide:last-child{
        
        .item-block{

            @include for-mobile{
            margin-bottom: 37px;
            }
        }
     }
}

.item_description{

    @include for-pad{
        padding: 20px;
    }
        

    p{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #2C3044;
        margin-bottom: 24px;

        @include for-pad{
        height: 120px;
        overflow: hidden;
        margin-bottom: 8px
        }
        @include for-mobile{
        height: 196px;
        overflow: hidden;
        margin-bottom: 0px;

        }
    }

    button{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #4471E6;
        border-bottom: 1px dashed #4471E6;
        cursor: pointer;
    }

    .mobile_button_text{
        display: block;

        @include for-mobile{
            width: 177px;
        }
    }
}


.breadcrumbs{

    .breadcrumbs_listing{
        margin-bottom: 23px;

        .breadcrumb_ul{

            li{


                &:after{
                        content: url("/images/item/breadcrump_arrow_item.svg");
                    }
                &:last-child::after {
                                content: "";
                            }

                a{
                    color: #797C88;
                    border-bottom: 1px solid #797C8850;
                    
                }
            }
        }
    }
}
.title{

    &._item{
        margin-top: 0px;
        display: flex;
        flex-flow:column;

        @include for-mobile{
            margin-top: 10px;
        }

        h1{
            margin: auto;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            color: #141417;
            margin-bottom: 13px;

            @include for-pad{
            line-height: 38px;
            margin-bottom: 16px;
            }
            @include for-mobile{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 11px;
            }
        }

        .address{
            display: flex;
            margin: auto;
            margin-bottom: 8px;

            @include for-pad{
                margin-bottom:26px;
            }
            @include for-mobile{
                margin-bottom: 0px;
            }

            &:before {
    content: url(/images/map_content.png);
    margin-top: 4px;

    @include for-mobile{
        margin-top: 2px;
    }
            }

            p{
                font-family: $fontFamilyLato;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #4471e6;
                margin-left: 5px;
                cursor: pointer;
                text-align: center;

                @include for-mobile{
                font-size: 14px;
                line-height: 20px;
                margin-left: 0px;
                }

                span{
                    border-bottom: 1px dashed #4471e6;
                }
            }
        }

    }
}
.content_block{

    &._item{
        width: 59%;
        margin-bottom: 0px;

        @include for-pad{
            width: 100%;
        }
        @include for-mobile{
            width: 100%;
            margin-bottom: 0;
            padding: 15px;
        }
    }

    &._item_title{
        margin-bottom: 0px;

        @include for-mobile{
            width: calc(100% - 23px);
        }
    }
    &._item_form{
        width: 84%;
        margin-bottom: 0;

        @include for-pad{
            width: 100%;
        }

        @include for-mobile{
        width: 100%;
        margin-bottom: 0;
        padding: 0px;
        }
    }
}
.map_contein{
    width: 100%;
    height:480px;
    margin-bottom: 31px;

    @include for-pad{
        height: 320px;
        padding: 0 15px;
    }
    @include for-mobile{
        display: none;
    }

    .map{
        display: block;
        height: 480px;
        margin: 34px 0 0px;

        @include for-pad{
            height: 320px;
            margin: 43px 0 0;
        }
    }
}
.object_block{
    width: 49.2%;
    display: flex;
    flex-flow: column;

    @include for-pad{
        margin-right: 15px;

        &:last-of-type{
            margin-right: 0px;
        }
    }
    @include for-mobile{
        width: 100%;
    }
}
.object_parameters{
    display: flex;
    justify-content:space-between;

    @include for-mobile{
        flex-flow: column;
    }
}
.item_similar_rooms{

    .listing_widget_header{
    margin: 65px auto 0;

    @include for-pad{
        margin: 32px auto 0;
    }
    @include for-mobile{
        margin: 33px auto 0;;
    }

    .listing_widget_title{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #141417;
        margin-bottom: 24px;

        @include for-pad{
            margin-bottom: 26px;
        }
        @include for-mobile{
            font-size: 28px;
            line-height: 32px;
        }
    }
}
.items_list_listing{

    &.swiper-container{

        .items_list{
            margin-top: 24px;
        }
    }
}

.listing_widget_controll{
    display: none;

    @include for-pad{
        // display: none !important;
    }
    @include for-mobile{
        // display: none !important;
    }

}

    .swiper-slide{

        @include for-pad{
        width: 100% !important;
        }
    }
    .item-block{
        margin-bottom: 32px;

        @include for-mobile{
            margin-bottom: 58px;
            width: 100%;
        }

        .img_conteiner .object_gallery .listing_widget_controll{

            @include for-pad{
            top: calc(52% - 16px);
            }
            @include for-mobile{
            top: calc(51% - 12px);
            }

            ._listing_prev{
                margin-left: 2px;
            }
        }
        .price{
            margin-bottom: 11px;

            @include for-pad{
                margin-bottom: 23px;
                }
                @include for-mobile{
                    margin-bottom: 11px;
                }
        }
        .item-info .capacity{
            margin-top: 19px;
        }
    }

    .yet{

        @include for-pad{
        margin-bottom: 39px;
        height: 40px;
        width: 235px;
        margin-top: -4px;
    }

    @include for-mobile{
        display: none;
    }
    }

    .items_list{
    justify-content: flex-start !important;
    display: flex !important;
    flex-flow: column;
    z-index: 0;
    }
    .swiper-container{
        z-index: 0;
    }

    .items_list_listing{

        &.swiper-container{

            @include for-mobile{
            padding: 0;}

        &.listing_slider{
            flex-flow:row;

            .listing_slider{
                flex-flow:row;
                margin: 0;
            }
        }
        }
    }
}

.item_other_rooms{
    margin-bottom:46px;

    @include for-pad{
        margin-bottom: 15px;
        margin-top: -14px;
    }
    @include for-mobile{
        margin-bottom: 32px;
    }

    [data-widget-wrapper]{
        width: 100% !important;
    }
    .other{
        width: 100% !important;
        position: relative;

    //     .swiper-slide{
    //         // width: 23.823% !important;
    //         // margin-right: 16px !important;
    //     }
    }
    .object_gallery{

        @include for-pad{
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    .items_list_listing.swiper-container .items_list{
        margin: 22px 0 20px;

        @include for-mobile{
            margin: 15px 0 20px;
        }
    }

    .listing_widget_header{
        margin: 13px 0 0;

        @include for-pad{
            margin: 0px auto 0;
        }
        @include for-mobile{
            padding: 0;
            margin-top: 32px;
            display: flex;
        }

        .listing_widget_title{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            color: #2C3044;
            margin-left: 20.7%;

            @include for-pad{
                margin-left: 0;
            }
            @include for-mobile{
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                color: #2C3044;
                margin-left: 0px;
            }
        }
    }

    .items_list{
    justify-content:flex-start !important;
    display: flex !important;
    z-index: 0;
    }

    .items_list_listing{
        
        &.swiper-container{
            z-index: 0;
            padding: 0 !important;

            .items_list{


            @include for-mobile{
                margin-bottom: 37px;
            }
                }

                &.for_controllers{
                        height: 30px;
                        position: absolute;
                        width: 100%;
                        top: 7.3%;

                        @include for-pad{
                            top: 1.3%;
                            right: -12px;
                        }

                        @include for-mobile{
                            top:5%;
                        }
                        @include for-smallmobile{
                            top:9%;
                        }

                        .listing_widget_controll{
                            top: calc(50% - 12px);
                        }
                }
        }
         }
            .listing_widget_controll{
                position: absolute;
                top: calc(17.5% - 12px);
                right: 0;
                display: flex;
                flex-flow: row;
                justify-content: flex-end;

                @include for-pad{
                top: calc(9.5% - 12px);
                right: 12px;
                }
                @include for-mobile{
                top: calc(12.4% - 12px);
                }
                &._listing{
                    display: none !important;
                }

                &._for_bullets{
                    justify-content: center;
                    position: unset;
                    margin: auto;
                }

                .swiper-pagination-bullets{
                    display: none;

                    @include for-mobile{
                        display: flex;
                    }

                    .swiper-pagination-bullet{
                        border-radius: 50%;

                        @include for-mobile{
                            width: 4px;
                            height: 4px;
                        }
                    }
                }
                .listing_widget_arrow{

                @include for-mobile{
                    display: flex;
                } 


                    &._prev{
                        margin-right: 8px;
                        
                    }
                    &._next{
                        
                        
                    }
                }


            }

    .item-block{
        // width: 23.823%;
        width: 100%;
        height:336px;
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        margin:0;
        margin-right: 17px;

        @include for-pad{
            justify-content:flex-start;
        }

        @include for-mobile{
            height: auto;
        }

        
        .price-position{
            display: none;
        }

        .carusel{
            margin-bottom: 10px;
            margin-right: 0;

            @include for-pad{
                width: 100%;
                margin-bottom: 14px;
            }

        .buttons{
            display: none;
        }
        }

        .item-info{
            margin-left: 0px;
            width: 100%;

            @include for-pad{
                margin-left: 0px;
            }

            @include for-mobile{
                margin-left: 2px;
            }

            .address{
                margin: 0;

                .item_address{
                    font-size: 10px;
                    line-height: 14px;
                    color: #797C88;
                    border: none;
                    margin: 0;

                    span{
                        border:none;
                    }
                }
            }

            .address:before{
                content: "";
            }
            .item_meta_item{
                    display: block;
                    justify-content:unset;}

            .forMobile_items{
                display: flex;

                @include for-mobile{
                    display: flex;
                    flex-flow:row;
                    justify-content:space-between;
                    margin-top: 2px;
                }

                .item_meta_item{
                    

                    @include for-mobile{
                        width:100%;
                        flex-flow:row nowrap;
                        display: flex;

                        .item_meta_text{
                            margin-left: 2px;
                        }
                        .item_meta_label{
                            width: auto;
                        }
                    }
                }
            }
            .price_type_other{
                display: flex;

                .item_meta_text{
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: #2C3044;
                }
            }

            .capacity, .restaurant_parking{ 

                .item_meta_text{margin: 0;}
            }
            .restaurant_payment{
                display: none;
            }
            .restaurant_own_alcohol{
                display: none;
            }
            .restaurant_cuisine{
                display: none;
            }
            .capacity{
                margin-top: 3px;
                width: 49%;
                margin-bottom: 5px;

                @include for-mobile{
                    width: 49%;
                }

            }
            .restaurant_parking{
                width: 51%;
                margin-top: 3px;
                margin-bottom: 0;

                @include for-pad{
                    margin-left: 9px;
                }

                @include for-mobile{
                    width: 51%;
                    margin-top: 2px;
                }
            }

        .item_name{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #2C3044;
            margin-bottom: 4px;

            @include for-pad{
                margin-bottom: 3px;
            }

            @include for-mobile{
                margin-bottom: 4px;
            }
        }

        .item_meta_label, .item_meta_text{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            color: #2C3044;}

       } 

        .img_conteiner {
        width: 100%;
        height: auto;
        position: relative;

        img{
            height: 175px !important;

            @include for-mobile{
                height: auto !important;
            }
            @include for-smallmobile{
                height: 175px !important;
            }
        }

            }

        // .item-info{
        //     width: 100%;
        // }
    }
    .item-block:last-of-type{
            margin-right: 0;
        }
    .object_gallery{

        @include for-mobile{
            width: 100%;
        }
    } 
}
.item_similar_rooms{



}
.see_all_foto{
  background: #FFFFFF;
  border-radius: 6px;
  position: absolute;
  bottom: 5.5%;
  left: 44.14%;
  padding: 10px 22px 10px 17px;
  z-index: 1;
  cursor: pointer;

  @include for-pad{
    bottom: 24%;
    left: 35.4%;
  }
  @include for-mobile{
    display: none;
  }

  p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4471E6;

    &:before{
      content: "";
      background-image: url(/images/item/photo_icon.svg);
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  } 
  &._mobile{
    display: none;

    @include for-mobile{
    display: flex;    
    border: 1px solid #95B3CD;
    box-sizing: border-box;
    border-radius: 6px;
     height: 40px;
    padding: 9px 17px 10px 17px;
    width: 228px;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    }
  }
}

.mobil_but_off{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #4471E6;
        cursor: pointer;
        margin: auto;
        width: 100px;

    @include for-mobile{
        
    }
    span{
        border-bottom: 1px dashed #4471E6;
    }
}
.mobile_open{
    display: none;

    @include for-mobile{
        display: flex;
        
    }

    // .mobile_button_text{
    //     border-bottom: 1px dashed;
    //     box-shadow: 0px 0px 25px 36px #ffffff;
    // }

    // input[type="checkbox"] {
    //  display: block;
    // }
    // input[type="checkbox"]:checked+.object_parameters{
    //   height: auto;
    // }
    // label {
    //   order: 1;
    //   color: blue;
    //   text-decoration: underline;
    //   font-size: 18px;
    //   cursor: pointer;
    // }
}
    input[type="checkbox"] {
     display: none;
    }
    @include for-mobile{
    input[type="checkbox"]:checked + .object_parameters{
      height: auto;
      }
    }
    label {
      display: none;  
      order: 1;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #4471E6;
      cursor: pointer;
      border-bottom: 1px dashed #4471E6;
      box-shadow: 0px 0px 25px 36px #ffffff;
      margin: auto;

      span{
      border-bottom: 1px dashed #4471E6;
      box-shadow: 0px 0px 25px 36px #ffffff;
      }

      @include for-mobile{
        display: block;

      }
    }

