.items_list .swiper-slide {
  margin: 24px 32px;
  width: 384px;
  height: 524px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #FFF9F5;
  display: flex;
  flex-direction: column;


  @include small-desktop {
    margin: 8px 8px;
    width: 360px;
  }

  @include medium {
    margin: 20px auto;
    width: 296px;
    height: 423px;
  }
}

.item_card {
  .img_conteiner {
    width: 100%;
    height: 302px;
    position: relative;
    color: $header_text;

    @include medium {
      height: 240px;
    }

    .img_on {
      width: 100%;
    }

    .gift_for_harrowing {
      width: 195px;
      height: 39px;
      position: absolute;
      top: 5px;
      right: 15px;
      background: center / cover no-repeat;
      background-image: url("/images/main/present_badge.svg");
      display: flex;
      align-items: center;
      padding-left: 33px;

      &_text {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .info_card {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;

    @include small-desktop {
      padding-left: 16px;
      padding-right: 16px;
    }

    @include medium {
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .item_name {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin: 16px 0 0 0;
      
      @include medium {
        margin: 12px 0 0 0;
      }

    }
  
    .item_address,
    .item_capacity_label,
    .item_cost_label {
      font-size: 14px;
      line-height: 20px;
  
      span {
        font-weight: bold;
      }    
    }
  
    .item_address {
      margin: 5px 0 0 0;
    }
  
    .item_capacity_label {
      display: inline-block;
      margin: 12px 0 0 0;

      @include medium {
        display: block;
        margin: 8px 0 0 0;
      }
    }
  
    .item_cost_label {
      display: inline-block;
      padding: 0 0 0 2px;

      @include medium {
        display: block;
        margin: 6px 0 0 0;
      }
    }
  
  }
}

.item_btn_popup_form {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74px;
  margin: auto 0 0;
  background: linear-gradient(89.99deg, #FF685F 1.52%, #FF855F 84.19%);
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(1662px 871px at center 437px, transparent 50%, transparent 50%, #FFF9F5 calc(50% + 3px));
  }

  &:hover {
    background: linear-gradient(89.99deg, #FF9472 1.52%, #FF855F 84.19%);
  }

  &:active {
    background: linear-gradient(89.99deg, #FF5449 1.52%, #FF6230 84.19%);
  }
}