$fonSizeDescH:32px;
$lineHeightDescH:40px;
$fontFamilyLato:Lato;
$fontSizeDescP:24px;
$lineHeightDescP:32px;
$fontSizeMobilH:28px;
$lineHeightMobilH:32px;
$fontSizeMobilP:16px;
$lineHeightMobilP:24px;

[data-page-type="popular_all"]{
    margin: auto;
    position: relative;
    margin-bottom: 22px;

    @include for-pad{
    	width: calc(100% - 20px);
    }
    @include for-mobile{
    	width: calc(100% - 30px);
    }
}
.popular_all{
	display: flex;
	flex-flow:column;
	justify-content:center;

	.popular_block{
		display: flex;
		flex-flow:column;
		width: 1136px;
		height: auto;
		margin: auto;
		margin-bottom: 40px;

		@include for-pad{
			width: 744px;
		}
		@include for-mobile{
			width: 288px;
			margin-bottom: 20px;
		}

		h2{
			font-family: $fontFamilyLato;
			font-style: normal;
			font-weight: bold;
			font-size: $fonSizeDescH;
			line-height: $lineHeightDescH;
			text-align: center;
			color: #2C3044;
			margin-bottom: 16px;

			@include for-mobile{
			font-size: $fontSizeMobilH;
			line-height: $lineHeightMobilH;
			}
		}

		.contain_pop{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			width: 1136px;

			@include for-pad{
				width: 734px;
				margin: 0 auto 0 auto;
			}
			@include for-mobile{
				width: 100%;
			}

			h3{
				position: absolute;
				font-family: Lato;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 32px;
				color: #FFFFFF;
				bottom: 24px;
				left: 24px;
	
				@include for-pad{
					font-size: 20px;
					line-height: 24px;
					bottom: 20px;
					left: 15px;
				}

				@include for-mobile{
					font-size: 16px;
					line-height: 24px;
					bottom: 9px;
					left: 10px;
	
				}
			}

			a{    
				position: relative;
				width: 560px;
				height: 320px;
				margin: 0 0 16px 0;

				@include for-pad{
					width: 734px;
					height: auto;
				}

				@include for-mobile{
					width: 100%;
					height: auto;
				}

				img{
					display: block;
					width: 100%;
					height: auto;
				}
		  } 	
		}

		button{
			font-family: $fontFamilyLato;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #141417;
			padding: 13px 71px 15px;
			width: 234px;
			margin: 32px auto 0 auto;
			cursor: pointer;
			border-radius: 4px;
			border:1px solid yellow;
			border-image: linear-gradient(to right , orange, #ebc302, yellow, yellow);
			border-image-slice: 1;
		}

		button.yet{
			display: none;
			font-family: $fontFamilyLato;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			align-items: center;
			text-align: center;
			color: #141417;
			padding: 13px 70px 15px;
			width: 234px;
			margin: 32px auto 0 auto;
			cursor: pointer;
			border-radius: 4px;
			border:1px solid yellow;
			border-image: linear-gradient(to right , orange, #ebc302, yellow, yellow);
			border-image-slice: 1;
		
			&._active{
				display: flex;
			}

			@include for-mobile{
				margin: 16px auto 0 auto;
			}
		}
	}

}
.title{

	&.popular{
		width: 55%;
		margin: auto;

		@include for-pad{
			margin-top: 0px;
		}

		@include for-mobile{
			width: auto;
			margin-top: 15px;
		}

		h1{
			text-align: center;
			text-transform: uppercase;
			color: #141417;
			margin-bottom: 64px;

			@include for-pad{
				margin-bottom: 16px;
			}

			@include for-mobile{
				margin-bottom: 20px;
			}
		}
	}
}

.text_bottom{
	margin: auto;
    position: relative;
    margin-bottom: 65px;
    width: 60%;
    padding: 0 8px;

    @include for-pad{
    	width: 95%;
    }
    @include for-mobile{
    	width: auto;
    }

    p{
    font-family: $fontFamilyLato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2C3044;
    }
}

.content_block{

 	&.pop_form{
		margin-bottom: 64px;
		width: 64.6%;

		@include for-pad{
			width: 100%;
		}

		@include for-mobile{
			width: 100%;
			padding: 0 10px;
		}
	}
}