<div class="confetti_left_blog"></div>
<div class="confetti_right_blog"></div>
<div data-page-type="blog">

    <div class="content_block _blog">
        <div class="title blog">
            <h2>Блог компании</h2>
        </div>
    </div>

    <div  data-page-type="blog_all">
        <div class="blogs">
            <div class="blog_elem">
                <div class="img_container_blog"> 
                    <a href="#">
                        <img src="/images/blog/blog_card_photo.png">
                    </a>
                </div>
                <div class="content_contain">
                   <a href="#"> <h2>Прикольные конкурсы на свадьбу</h2></a>
                    <div class="description_blog">
                        <p>В интернете можно найти много предложений съемки мероприятия одним видеографом. Такой формат мы не рекомендуем, если пара хочет получить со своей свадьбы качественный репортаж. Во время мероприятия одновременно происходят важные события в разных уголках и локациях. </p>
                    </div>
                    <div class="date">12 декабря 2018</div>
                </div>
            </div>
             <div class="blog_elem">
                <div class="img_container_blog">
                    <a href="#">
                        <img src="/images/blog/blog_card_photo_2.png">
                    </a>
                </div>
                <div class="content_contain">
                   <a href="#"> <h2>Начинки для свадебных тортов - какая лучше</h2></a>
                    <div class="description_blog">
                        <p>В интернете можно найти много предложений съемки мероприятия одним видеографом. Такой формат мы не рекомендуем, если пара хочет получить со своей свадьбы качественный репортаж. Во время мероприятия одновременно происходят важные события в разных уголках и локациях. </p>
                    </div>
                    <div class="date">12 декабря 2018</div>
                </div>
            </div>
             <div class="blog_elem">
                <div class="img_container_blog">
                    <a href="#">
                        <img src="/images/blog/blog_card_photo_3.png">
                    </a>
                </div>
                <div class="content_contain">
                  <a href="#">  <h2>Свадебный костюм для жениха 2019</h2></a>
                    <div class="description_blog">
                        <p>В интернете можно найти много предложений съемки мероприятия одним видеографом. Такой формат мы не рекомендуем, если пара хочет получить со своей свадьбы качественный репортаж. Во время мероприятия одновременно происходят важные события в разных уголках и локациях. </p>
                    </div>
                    <div class="date">12 декабря 2018</div>
                </div>
            </div>
             <div class="blog_elem">
                <div class="img_container_blog">
                    <a href="#">
                        <img src="/images/blog/blog_card_photo.png">
                    </a>
                </div>
                <div class="content_contain">
                 <a href="#">   <h2>Прикольные конкурсы на свадьбу</h2></a>
                    <div class="description_blog">
                        <p>В интернете можно найти много предложений съемки мероприятия одним видеографом. Такой формат мы не рекомендуем, если пара хочет получить со своей свадьбы качественный репортаж. Во время мероприятия одновременно происходят важные события в разных уголках и локациях. </p>
                    </div>
                    <div class="date">12 декабря 2018</div>
                </div>
            </div>
             <div class="blog_elem">
                <div class="img_container_blog">
                    <a href="#">
                        <img src="/images/blog/blog_card_photo_2.png">
                    </a>
                </div>
                <div class="content_contain">
                 <a href="#">   <h2>Начинки для свадебных тортов - какая лучше</h2></a>
                    <div class="description_blog">
                        <p>В интернете можно найти много предложений съемки мероприятия одним видеографом. Такой формат мы не рекомендуем, если пара хочет получить со своей свадьбы качественный репортаж. Во время мероприятия одновременно происходят важные события в разных уголках и локациях. </p>
                    </div>
                    <div class="date">12 декабря 2018</div>
                </div>
            </div>
             <div class="blog_elem">
                <div class="img_container_blog">
                    <a href="#">
                        <img src="/images/blog/blog_card_photo_3.png">
                    </a>
                </div>
                <div class="content_contain">
                  <a href="#">  <h2>Свадебный костюм для жениха 2019</h2></a>
                    <div class="description_blog">
                        <p>В интернете можно найти много предложений съемки мероприятия одним видеографом. Такой формат мы не рекомендуем, если пара хочет получить со своей свадьбы качественный репортаж. Во время мероприятия одновременно происходят важные события в разных уголках и локациях. </p>
                    </div>
                    <div class="date">12 декабря 2018</div>
                </div>
            </div>
        </div>

    </div>
    <div class="content_block"> 
            <div data-pagination-wrapper>
                {{pagination | raw }}
            </div>
        </div>


</div>